accelerate
bitsandbytes
datasets
einops
fvcore
hydra-core
jinja2
kaggle
loguru
omegaconf
peft
pydantic
pytest
python-dotenv
pytorch_lightning
scikit-learn>=1.0.0
sentence-transformers
tensorboard
torch
torchvision
torchaudio
torchmetrics>=0.8.2
transformers
trl
timm
typing_extensions
wandb
lightning
git+https://github.com/google/gemma_pytorch